@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono';
}

#question-container {
  text-align: center;
  font-size: 270%;
}
#Youaregay {
  text-align: center;
  font-size: 270%;
}

button {
  border: none; /* 移除邊框 */
  font-size: 150%; 
  background-color: rgb(255,255 ,255,0);
}

#yes-btn {
  margin-right: 4%; /* 使用百分比調整間距 */
}

/* 媒體查詢，適應螢幕寬度小於768px的裝置 */
@media (max-width: 768px) {
  #question-container {
    padding: 4%; /* 小螢幕時的填充 */
    max-width: 95%; /* 最大寬度 */
  }

  button {
    margin: 3%; /* 小螢幕時的邊距 */
    padding: 4% 8%; /* 小螢幕時的內部填充 */
    font-size: 16px; /* 小螢幕時的字體大小 */
  }

  #yes-btn {
    margin-right: 5%; /* 小螢幕時的間距 */
  }
}
